<ActionBar title="Home">
</ActionBar>

<GridLayout>
	<ScrollView>
		<StackLayout class="home-panel">
			<!--Add your page content here-->
			<Button id="langBtn" text="Button" [nsRouterLink]="['/lang']" pageTransition="slide" clearHistory="false" text="Language select"></Button>
			<Label textWrap="true" text="Play with NativeScript!!!" class="h2 description-label"></Label>
			<Label automationText="main-title" textWrap="true" text="Write code in the editor or drag and drop components to build a NativeScript mobile application."
			 class="h2 description-label"></Label>
			<Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
			 class="h2 description-label"></Label>
			 <Button id="cameraBtn" automationText="cameraBtn" text="Button" (tap)="cameraSet()" text="Camera"></Button>

		</StackLayout>
	</ScrollView>
</GridLayout>